body, html {
    height: 100%;
    font-family: 'Noto Serif JP', serif;
}

.background {
    background-image: url('./background.jpeg');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    height: 100rem;
}

.center-card {
    position: fixed;
    width: 50%;
    left: 25%;
    top: 25%;
    background-color: white;
    padding: 80px 50px 50px 50px;
    text-align: center;
}

.countdown {
    padding-bottom: 0.3rem !important;
    text-transform: capitalize;
    text-align: center;
}

.countdown-section {
    padding: 3rem 4rem;
}

.adam-image img {
    position: fixed;
    width: 50%;
    left: 65%;
    top: 65%;
    width: 15%;
}

.rsvp-button button {
    font-family: 'Noto Serif JP', serif;
    color: #d5a112;
    border-color: #d5a112;
    font-size: 14px;
    padding: 10px 30px;
    letter-spacing: 4px;
    margin-bottom: -10px;
}

.rsvp-button button:hover {
    cursor: pointer;
    color: #fff;
    background-color: #d5a112;
}

.wedding-date {
    font-family: 'Noto Serif JP', serif;
    color: #d5a112;
    letter-spacing: 5px;
    font-size: 14px;
    margin-top: -20px;
    margin-bottom: -20px;

}

.number-countdown {
    font-family: 'Noto Serif JP', serif;
    font-size: 35px;
    letter-spacing: 6px;
}

.value-countdown {
    font-family: 'Noto Serif JP', serif;
    font-size: 10px;
    letter-spacing: 5px;
}

.logo {
    margin-top: -50px;

}

@media only screen and (max-width: 1200px) {
    .countdown-section {
        padding: 3rem 0rem;
    }
    .adam-image img {
        left: 62%;
        top: 65%;
        width: 20%;
    }
  }

  @media only screen and (max-width: 800px) {
    .countdown-section {
        padding: 2rem 0rem;
    }
    .value-countdown {
        letter-spacing: 3px;
    }
    .number-countdown {
        font-size: 25px;
    }
    .ui.grid>.column:not(.row) {
        padding-top: 0.2rem;
    }
    .adam-image img {
        left: 62%;
        top: 55%;
        width: 25%;
    }
  }

  @media only screen and (max-width: 600px) {
    .center-card {
        width: 80%;
        left: 10%;
        top: 10%;
        padding: 100px 30px 100px 30px;
    }
    .adam-image img {
        left: 28%;
        top: 55%;
        width: 45%;
    }
  }
  @media only screen and (max-width: 320px) {
    .ui.grid>.column:not(.row), .ui.grid>.row>.column {
        padding-left: 0.2rem;
        padding-right: 0.2rem;
    }
    .center-card {
        padding: 65px 20px 100px;
    }
  }

  @media only screen and (width: 375px) {
    .adam-image img {
        top: 55%;
    }
    .center-card {
        padding: 100px 30px 70px 30px;
    }
  }